<% @media.each do |media| %>
<div class=media>
    <h3><%= media.name %></h3>
    <a href='<%= media.path %>'><%= media.name %></a>
    
    <p>typo: <%= media.type %></p>
    <p>bits: <%= media.size %></p>
    <p>md5: <%= media.md5 %></p>
    <p>fecha de publicación: <%= media.created_at %></p>
</div>
<% end %>
