<% @media.each do |media| %>
<div class=media>
    <h3><%= media.title %> <i>por</i> <%= media.artist %></h3>
    <ul id='media_data'> 
      <li><%= media.title%></li>
      <li>artist: <%= media.artist %></li>
      <li>genre: <%= media.genre %></li>
      <li>channels: <%= media.channels %></li>
      <li>length: <%= media.length %></li>
 
      <li>descarga: <a href='<%= media.path %>'><%= media.name %></a>
      <li>typo: <%= media.type %></li>
      <li>bits: <%= media.size %></li>
      <li>md5: <%= media.md5 %></li>
      <li>fecha de publicación: <%= media.created_at %></li>
    </ul>
</div>
<% end %>
